* {
    font-family: monospace;
    user-select: none;
}

body {
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem;
}

a {
    text-decoration: underline;
}

h3#title {
    margin-bottom: 0.7rem;
}

p#desc {
    margin-bottom: 2rem;
}

h4 {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 1.2rem 0 0 0;
}

select {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

table {
    margin: 10px auto 0 auto;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    line-height: 1rem;
}

select,
table#items td,
button {
    cursor: pointer;
}

button {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    min-width: 80px;
    font-weight: bold;
}

button:disabled {
    cursor: default;
}

.selected {
    background-color: rgb(211, 211, 211);
}

p#legend {
    margin-top: 10px;
    line-height: 3rem;
    font-size: 0.9rem;
}

p#legend>span {
    font-size: 1.7rem;
    vertical-align: middle;
}

div#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffffb8;
}

#overlay>div {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5rem;
}